<div class="landing">
  <section class="about-section">
    <%= render partial: "static_pages/navbar_landing" %>

    <div class="about-wrapper d-flex align-items-center">
      <div class="container">
        <div class="effect-phrase">
          soluções digitais
          <br> para o seu negócio
        </div>

        <div class="line mt-5"></div>

        <div class="company-phrase mt-5">
          somos uma empresa de design e tecnologia que fornece soluções
          <br> digitais em design para web, de interface, gráficas, aplicações web
          <br> e automação de processos.
        </div>
      </div>

      <div class="plane">
        <%= image_tag "aviao-web.png", class: "image" %>
      </div>
    </div>
  </section>

  <section class="what-we-do-section">

  </section>
</div>